:root {	
	--black: rgb(0, 0, 0);
	--black--100: var(--black);
	--blackHover: rgb(33, 33, 33);

	--white: rgb(255, 255, 255);
	--white-0: var(--white);
	--white-hover: rgb(232, 232, 232);

	--yellow-10: rgb(252, 244, 214);
	--yellow-20: rgb(253, 220, 105);
	--yellow-30: rgb(241, 194, 27);
	--yellow-40: rgb(210, 161, 6);
	--yellow-50: rgb(178, 134, 0);
	--yellow-60: rgb(142, 106, 0);
	--yellow-70: rgb(104, 78, 0);
	--yellow-80: rgb(72, 55, 0);
	--yellow-90: rgb(48, 36, 0);
	--yellow-100: rgb(28, 21, 0);
	--yellow: var(--yellow-30);

	--yellow-10-hover: rgb(248, 230, 160);
	--yellow-20-hover: rgb(252, 205, 39);
	--yellow-30-hover: rgb(221, 176, 14);
	--yellow-40-hover: rgb(188, 144, 5);
	--yellow-50-hover: rgb(158, 119, 0);
	--yellow-60-hover: rgb(117, 88, 0);
	--yellow-70-hover: rgb(128, 96, 0);
	--yellow-80-hover: rgb(92, 70, 0);
	--yellow-90-hover: rgb(61, 46, 0);
	--yellow-100-hover: rgb(51, 38, 0);

	--orange-10: rgb(255, 242, 232);
	--orange-20: rgb(255, 217, 190);
	--orange-30: rgb(255, 183, 132);
	--orange-40: rgb(255, 131, 43);
	--orange-50: rgb(235, 98, 0);
	--orange-60: rgb(186, 78, 0);
	--orange-70: rgb(138, 56, 0);
	--orange-80: rgb(94, 41, 0);
	--orange-90: rgb(62, 26, 0);
	--orange-100: rgb(35, 16, 0);
	--orange: var(--orange-40);

	--orange-10-hover: rgb(255, 226, 204);
	--orange-20-hover: rgb(255, 198, 158);
	--orange-30-hover: rgb(255, 157, 87);
	--orange-40-hover: rgb(250, 104, 0);
	--orange-50-hover: rgb(204, 85, 0);
	--orange-60-hover: rgb(158, 66, 0);
	--orange-70-hover: rgb(168, 68, 0);
	--orange-80-hover: rgb(117, 51, 0);
	--orange-90-hover: rgb(82, 34, 0);
	--orange-100-hover: rgb(66, 30, 0);

	--red-10: rgb(255, 241, 241);
	--red-20: rgb(255, 215, 217);
	--red-30: rgb(255, 179, 184);
	--red-40: rgb(255, 131, 137);
	--red-50: rgb(250, 77, 86);
	--red-60: rgb(218, 30, 40);
	--red-70: rgb(162, 25, 31);
	--red-80: rgb(117, 14, 19);
	--red-90: rgb(82, 4, 8);
	--red-100: rgb(45, 7, 9);

	--red-100-hover: rgb(84, 13, 17);
	--red-90-hover: rgb(102, 5, 10);
	--red-80-hover: rgb(146, 17, 24);
	--red-70-hover: rgb(194, 30, 37);
	--red-60-hover: rgb(184, 25, 34);
	--red-50-hover: rgb(238, 7, 19);
	--red-40-hover: rgb(255, 97, 104);
	--red-30-hover: rgb(255, 153, 160);
	--red-20-hover: rgb(255, 194, 197);
	--red-10-hover: rgb(255, 224, 224);

	--magenta-10: rgb(255, 240, 247);
	--magenta-20: rgb(255, 214, 232);
	--magenta-30: rgb(255, 175, 210);
	--magenta-40: rgb(255, 126, 182);
	--magenta-50: rgb(238, 83, 150);
	--magenta-60: rgb(208, 38, 112);
	--magenta-70: rgb(159, 24, 83);
	--magenta-80: rgb(116, 9, 55);
	--magenta-90: rgb(81, 2, 36);
	--magenta-100: rgb(42, 10, 24);

	--magenta-100-hover: rgb(83, 20, 47);
	--magenta-90-hover: rgb(104, 3, 46);
	--magenta-80-hover: rgb(142, 11, 67);
	--magenta-70-hover: rgb(191, 29, 99);
	--magenta-60-hover: rgb(176, 33, 95);
	--magenta-50-hover: rgb(227, 23, 111);
	--magenta-40-hover: rgb(255, 87, 160);
	--magenta-30-hover: rgb(255, 148, 195);
	--magenta-20-hover: rgb(255, 189, 218);
	--magenta-10-hover: rgb(255, 224, 239);

	--purple-10: rgb(246, 242, 255);
	--purple-20: rgb(232, 218, 255);
	--purple-30: rgb(212, 187, 255);
	--purple-40: rgb(190, 149, 255);
	--purple-50: rgb(165, 110, 255);
	--purple-60: rgb(138, 63, 252);
	--purple-70: rgb(105, 41, 196);
	--purple-80: rgb(73, 29, 139);
	--purple-90: rgb(49, 19, 94);
	--purple-100: rgb(28, 15, 48);

	--purple-100-hover: rgb(52, 28, 89);
	--purple-90-hover: rgb(64, 25, 123);
	--purple-80-hover: rgb(91, 36, 173);
	--purple-70-hover: rgb(124, 61, 214);
	--purple-60-hover: rgb(120, 34, 251);
	--purple-50-hover: rgb(147, 82, 255);
	--purple-40-hover: rgb(174, 122, 255);
	--purple-30-hover: rgb(197, 163, 255);
	--purple-20-hover: rgb(220, 199, 255);
	--purple-10-hover: rgb(237, 229, 255);

	--blue-10: rgb(237, 245, 255);
	--blue-20: rgb(208, 226, 255);
	--blue-30: rgb(166, 200, 255);
	--blue-40: rgb(120, 169, 255);
	--blue-50: rgb(69, 137, 255);
	--blue-60: rgb(15, 98, 254);
	--blue-70: rgb(0, 67, 206);
	--blue-80: rgb(0, 45, 156);
	--blue-90: rgb(0, 29, 108);
	--blue-100: rgb(0, 17, 65);

	--blue-100-hover: rgb(0, 31, 117);
	--blue-90-hover: rgb(0, 37, 138);
	--blue-80-hover: rgb(0, 57, 199);
	--blue-70-hover: rgb(0, 83, 255);
	--blue-60-hover: rgb(0, 80, 230);
	--blue-50-hover: rgb(31, 112, 255);
	--blue-40-hover: rgb(92, 151, 255);
	--blue-30-hover: rgb(138, 182, 255);
	--blue-20-hover: rgb(184, 211, 255);
	--blue-10-hover: rgb(219, 235, 255);

	--cyan-10: rgb(229, 246, 255);
	--cyan-20: rgb(186, 230, 255);
	--cyan-30: rgb(130, 207, 255);
	--cyan-40: rgb(51, 177, 255);
	--cyan-50: rgb(17, 146, 232);
	--cyan-60: rgb(0, 114, 195);
	--cyan-70: rgb(0, 83, 154);
	--cyan-80: rgb(0, 58, 109);
	--cyan-90: rgb(1, 39, 73);
	--cyan-100: rgb(6, 23, 39);

	--cyan-10-hover: rgb(204, 238, 255);
	--cyan-20-hover: rgb(153, 218, 255);
	--cyan-30-hover: rgb(87, 190, 255);
	--cyan-40-hover: rgb(5, 159, 255);
	--cyan-50-hover: rgb(15, 126, 200);
	--cyan-60-hover: rgb(0, 95, 163);
	--cyan-70-hover: rgb(0, 102, 189);
	--cyan-80-hover: rgb(0, 73, 138);
	--cyan-90-hover: rgb(1, 51, 96);
	--cyan-100-hover: rgb(11, 41, 71);

	--teal-10: rgb(217, 251, 251);
	--teal-20: rgb(158, 240, 240);
	--teal-30: rgb(61, 219, 217);
	--teal-40: rgb(8, 189, 186);
	--teal-50: rgb(0, 157, 154);
	--teal-60: rgb(0, 125, 121);
	--teal-70: rgb(0, 93, 93);
	--teal-80: rgb(0, 65, 68);
	--teal-90: rgb(2, 43, 48);
	--teal-100: rgb(8, 26, 28);

	--teal-10-hover: rgb(172, 246, 246);
	--teal-20-hover: rgb(87, 229, 229);
	--teal-30-hover: rgb(37, 202, 200);
	--teal-40-hover: rgb(7, 171, 169);
	--teal-50-hover: rgb(0, 138, 135);
	--teal-60-hover: rgb(0, 107, 104);
	--teal-70-hover: rgb(0, 112, 112);
	--teal-80-hover: rgb(0, 83, 87);
	--teal-90-hover: rgb(3, 57, 64);
	--teal-100-hover: rgb(15, 48, 52);

	--green-10: rgb(222, 251, 230);
	--green-20: rgb(167, 240, 186);
	--green-30: rgb(111, 220, 140);
	--green-40: rgb(66, 190, 101);
	--green-50: rgb(36, 161, 72);
	--green-60: rgb(25, 128, 56);
	--green-70: rgb(14, 96, 39);
	--green-80: rgb(4, 67, 23);
	--green-90: rgb(2, 45, 13);
	--green-100: rgb(7, 25, 8);

	--green-10-hover: rgb(182, 246, 200);
	--green-20-hover: rgb(116, 231, 146);
	--green-30-hover: rgb(54, 206, 94);
	--green-40-hover: rgb(59, 171, 90);
	--green-50-hover: rgb(32, 142, 63);
	--green-60-hover: rgb(22, 111, 49);
	--green-70-hover: rgb(17, 116, 47);
	--green-80-hover: rgb(5, 82, 28);
	--green-90-hover: rgb(3, 59, 17);
	--green-100-hover: rgb(13, 48, 15);

	--cool-gray-10: rgb(242, 244, 248);
	--cool-gray-20: rgb(221, 225, 230);
	--cool-gray-30: rgb(193, 199, 205);
	--cool-gray-40: rgb(162, 169, 176);
	--cool-gray-50: rgb(135, 141, 150);
	--cool-gray-60: rgb(105, 112, 119);
	--cool-gray-70: rgb(77, 83, 88);
	--cool-gray-80: rgb(52, 58, 63);
	--cool-gray-90: rgb(33, 39, 42);
	--cool-gray-100: rgb(18, 22, 25);

	--cool-gray-10-hover: rgb(228, 233, 241);
	--cool-gray-20-hover: rgb(205, 211, 218);
	--cool-gray-30-hover: rgb(173, 181, 189);
	--cool-gray-40-hover: rgb(145, 153, 161);
	--cool-gray-50-hover: rgb(117, 123, 133);
	--cool-gray-60-hover: rgb(88, 94, 100);
	--cool-gray-70-hover: rgb(93, 100, 106);
	--cool-gray-80-hover: rgb(67, 74, 81);
	--cool-gray-90-hover: rgb(43, 50, 54);
	--cool-gray-100-hover: rgb(34, 42, 47);

	--gray-10: rgb(244, 244, 244);
	--gray-20: rgb(224, 224, 224);
	--gray-30: rgb(198, 198, 198);
	--gray-40: rgb(168, 168, 168);
	--gray-50: rgb(141, 141, 141);
	--gray-60: rgb(111, 111, 111);
	--gray-70: rgb(82, 82, 82);
	--gray-80: rgb(57, 57, 57);
	--gray-90: rgb(38, 38, 38);
	--gray-100: rgb(22, 22, 22);

	--gray-10-hover: rgb(232, 232, 232);
	--gray-20-hover: rgb(209, 209, 209);
	--gray-30-hover: rgb(181, 181, 181);
	--gray-40-hover: rgb(153, 153, 153);
	--gray-50-hover: rgb(122, 122, 122);
	--gray-60-hover: rgb(94, 94, 94);
	--gray-70-hover: rgb(99, 99, 99);
	--gray-80-hover: rgb(71, 71, 71);
	--gray-90-hover: rgb(51, 51, 51);
	--gray-100-hover: rgb(41, 41, 41);

	--warm-gray-10: rgb(247, 243, 242);
	--warm-gray-20: rgb(229, 224, 223);
	--warm-gray-30: rgb(202, 197, 196);
	--warm-gray-40: rgb(173, 168, 168);
	--warm-gray-50: rgb(143, 139, 139);
	--warm-gray-60: rgb(114, 110, 110);
	--warm-gray-70: rgb(86, 81, 81);
	--warm-gray-80: rgb(60, 56, 56);
	--warm-gray-90: rgb(39, 37, 37);
	--warm-gray-100: rgb(23, 20, 20);

	--warm-gray-10-hover: rgb(240, 232, 230);
	--warm-gray-20-hover: rgb(216, 208, 207);
	--warm-gray-30-hover: rgb(185, 179, 177);
	--warm-gray-40-hover: rgb(156, 150, 150);
	--warm-gray-50-hover: rgb(127, 123, 123);
	--warm-gray-60-hover: rgb(96, 93, 93);
	--warm-gray-70-hover: rgb(105, 99, 99);
	--warm-gray-80-hover: rgb(76, 72, 72);
	--warm-gray-90-hover: rgb(52, 50, 50);
	--warm-gray-100-hover: rgb(44, 38, 38);

	--accent-100: var(--blue-100);
    --accent-90: var(--blue-90);
    --accent-80: var(--blue-80);
    --accent-70: var(--blue-70);
    --accent-60: var(--blue-60);
    --accent-50: var(--blue-50);
    --accent-40: var(--blue-40);
    --accent-30: var(--blue-30);
    --accent-20: var(--blue-20);
    --accent-10: var(--blue-10);

	--accent-100-hover: var(--blue-100-hover);
    --accent-90-hover: var(--blue-90-hover);
    --accent-80-hover: var(--blue-80-hover);
    --accent-70-hover: var(--blue-70-hover);
    --accent-60-hover: var(--blue-60-hover);
    --accent-50-hover: var(--blue-50-hover);
    --accent-40-hover: var(--blue-40-hover);
    --accent-30-hover: var(--blue-30-hover);
    --accent-20-hover: var(--blue-20-hover);
    --accent-10-hover: var(--blue-10-hover);
}