:root {
    --background: rgba(var(--white-0), 1);
    --background-inverse: rgba(var(--gray-80), 1);
    --background-brand: rgba(var(--accent-80), 1);
    --background-active: rgba(var(--gray-50), 0.5);
    --background-hover: rgba(var(--gray-50), 0.12);
    --background-inverse-hover: rgba(var(--gray-80-hover), 1);
    --background-selected: rgba(var(--gray-50), 0.2);
    --background-selected-hover: rgba(var(--gray-50), 0.32);

    --layer-01: rgba(var(--gray-10), 1);
    --layer-active-01: rgba(var(--gray-30), 1);
    --layer-hover-01: rgba(var(--gray-10-hover), 1);
    --layer-selected-01: rgba(var(--gray-20), 1);
    --layer-selected-hover-01: rgba(var(--gray-20-hover), 1);

    --layer-02: rgba(var(--white-0), 1);
    --layer-active-02: rgba(var(--gray-30), 1);
    --layer-hover-02: rgba(var(--gray-10-hover), 1);
    --layer-selected-02: rgba(var(--gray-20), 1);
    --layer-selected-hover-02: rgba(var(--gray-20-hover), 1);

    --layer-03: rgba(var(--gray-10), 1);
    --layer-active-03: rgba(var(--gray-30), 1);
    --layer-hover-03: rgba(var(--gray-10-hover), 1);
    --layer-selected-03: rgba(var(--gray-20), 1);
    --layer-selected-hover-03: rgba(var(--gray-20-hover), 1);

    --layer-selected-inverse: rgba(var(--gray-100), 1);
    --layer-selected-disabled: rgba(var(--gray-50), 1);

    --layer-accent-01: rgba(var(--gray-20), 1);
    --layer-accent-active-01: rgba(var(--gray-40), 1);
    --layer-accent-hover-01: rgba(var(--gray-20-hover), 1);

    --layer-accent-02: rgba(var(--gray-20), 1);
    --layer-accent-active-02: rgba(var(--gray-40), 1);
    --layer-accent-hover-02: rgba(var(--gray-20-hover), 1);

    --layer-accent-03: rgba(var(--gray-20), 1);
    --layer-accent-active-03: rgba(var(--gray-40), 1);
    --layer-accent-hover-03: rgba(var(--gray-20-hover), 1);

    --field-01: rgba(var(--gray-10), 1);
    --field-hover-01: rgba(var(--gray-10-hover), 1);

    --field-02: rgba(var(--white-0), 1);
    --field-hover-02: rgba(var(--white-hover), 1);

    --field-03: rgba(var(--gray-10), 1);
    --field-hover-03: rgba(var(--gray-10-hover), 1);

    --border-subtle-00: rgba(var(--gray-20), 1);

    --border-subtle-01: rgba(var(--gray-20), 1);
    --border-subtle-selected-01: rgba(var(--gray-30), 1);

    --border-subtle-02: rgba(var(--gray-20), 1);
    --border-subtle-selected-02: rgba(var(--gray-30), 1);

    --border-subtle-03: rgba(var(--gray-20), 1);
    --border-subtle-selected-03: rgba(var(--gray-30), 1);

    --border-strong-01: rgba(var(--gray-50), 1);
    --border-strong-02: rgba(var(--gray-50), 1);
    --border-strong-03: rgba(var(--gray-50), 1);

    --border-tile-01: rgba(var(--gray-30), 1);
    --border-tile-02: rgba(var(--gray-40), 1);
    --border-tile-03: rgba(var(--gray-30), 1);

    --border-inverse: rgba(var(--gray-100), 1);

    --border-interactive: rgba(var(--accent-60), 1);

    --border-disabled: rgba(var(--gray-30), 1);

    --text-primary: rgba(var(--gray-100), 1);
    --text-secondary: rgba(var(--gray-70), 1);
    --text-placeholder: rgba(var(--gray-100), 0.4);
    /*original: rgba(var(--text-primary), 0.4), 1);*/
    --text-helper: rgba(var(--gray-60), 1);
    --text-error: rgba(var(--red-60), 1);
    --text-inverse: rgba(var(--white-0), 1);
    --text-on-color: rgba(var(--white-0), 1);
    --text-on-color-disabled: rgba(var(--gray-50), 1);
    --text-disabled: rgba(var(--gray-100), 0.25);
    /*original: rgba(var(--text-primary), 0.25), 1);*/

    --link-primary: rgba(var(--accent-60), 1);
    --link-primary-hover: rgba(var(--accent-70), 1);
    --link-secondary: rgba(var(--accent-70), 1);
    --link-inverse: rgba(var(--accent-40), 1);
    --link-visited: rgba(var(--purple-60), 1);
    --link-inverse-active: rgba(var(--gray-10), 1);
    --link-inverse-hover: rgba(var(--accent-30), 1);

    --icon-primary: rgba(var(--gray-100), 1);
    --icon-secondary: rgba(var(--gray-70), 1);
    --icon-inverse: rgba(var(--white-0), 1);
    --icon-on-color: rgba(var(--white-0), 1);
    --icon-on-color-disabled: rgba(var(--gray-50), 1);
    --icon-disabled: rgba(var(--gray-100), 0.25);
    /*original: rgba(var(--icon-primary), 0.25), 1);*/

    --button-primary: rgba(var(--accent-60), 1);
    --button-primary-hover: rgba(var(--accent-60-hover), 1);
    --button-primary-active: rgba(var(--accent-80), 1);
    --button-secondary: rgba(var(--gray-80), 1);
    --button-secondary-hover: rgba(var(--gray-80-hover), 1);
    --button-secondary-active: rgba(var(--gray-60), 1);
    --button-tertiary: rgba(var(--accent-60), 1);
    --button-tertiary-hover: rgba(var(--accent-60-hover), 1);
    --button-tertiary-active: rgba(var(--accent-80), 1);
    --button-danger-primary: rgba(var(--red-60), 1);
    --button-danger-secondary: rgba(var(--red-60), 1);
    --button-danger-hover: rgba(var(--red-60-hover), 1);
    --button-danger-active: rgba(var(--red-80), 1);
    --button-separator: rgba(var(--gray-20), 1);
    --button-disabled: rgba(var(--gray-30), 1);

    --support-error: rgba(var(--red-60), 1);
    --support-success: rgba(var(--green-50), 1);
    --support-warning: rgba(var(--yellow-30), 1);
    --support-info: rgba(var(--blue-70), 1);
    --support-error-inverse: rgba(var(--red-50), 1);
    --support-success-inverse: rgba(var(--green-40), 1);
    --support-warning-inverse: rgba(var(--yellow-30), 1);
    --support-info-inverse: rgba(var(--blue-50), 1);
    --support-caution-minor: rgba(var(--yellow-30), 1);
    --support-caution-major: rgba(var(--orange-40), 1);
    --support-caution-undefined: rgba(var(--purple-60), 1);

    --focus: rgba(var(--accent-60), 1);
    --focus-inset: rgba(var(--white-0), 1);
    --focus-inverse: rgba(var(--white-0), 1);

    --interactive: rgba(var(--accent-80), 1);
    --highlight: rgba(var(--accent-20), 1);
    --overlay: rgba(22, 22, 22, 0.5);
    --toggle-off: rgba(var(--gray-50), 1);
    --shadow: rgba(0, 0, 0, 0.3);
    --skeleton-background: rgba(var(--white-hover), 1);
    --skeleton-element: rgba(var(--gray-30), 1);

    /* NON-ORIGINAL(SF/BS) */
    --ui-shell: rgba(var(--gray-100), 1);
    --ui-shell-hover: rgba(var(--gray-90), 1);
    --ui-shell-active: rgba(var(--gray-80), 1);
    --ui-shell-focus: rgba(var(--white-0), 1);
    --ui-shell-disabled: rgba(var(--gray-80), 1);
    --ui-shell-border: rgba(var(--gray-70), 1);

    --switch-svg-off: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='3' fill='rgba%2822, 22, 22, 1%29'/%3e%3c/svg%3e");
    --switch-svg-on: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='3' fill='rgba%28244, 244, 244, 1%29'/%3e%3c/svg%3e");
    --checkbox-svg-on: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 20'%3e%3cpath fill='none' stroke='%23f4f4f4' stroke-linecap='round' stroke-linejoin='round' stroke-width='3' d='M6 10l3 3l6-6'/%3e%3c/svg%3e");
    --radio-svg-on: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='2' fill='%23161616'/%3e%3c/svg%3e");
    --btn-close-svg-off: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23161616'%3e%3cpath d='M.293.293a1 1 0 0 1 1.414 0L8 6.586 14.293.293a1 1 0 1 1 1.414 1.414L9.414 8l6.293 6.293a1 1 0 0 1-1.414 1.414L8 9.414l-6.293 6.293a1 1 0 0 1-1.414-1.414L6.586 8 .293 1.707a1 1 0 0 1 0-1.414z'/%3e%3c/svg%3e");
    --btn-close-svg-on: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23f4f4f4'%3e%3cpath d='M.293.293a1 1 0 0 1 1.414 0L8 6.586 14.293.293a1 1 0 1 1 1.414 1.414L9.414 8l6.293 6.293a1 1 0 0 1-1.414 1.414L8 9.414l-6.293 6.293a1 1 0 0 1-1.414-1.414L6.586 8 .293 1.707a1 1 0 0 1 0-1.414z'/%3e%3c/svg%3e");

    /*NON ORIGINAL (SPACING TOKENS) */
    --corner-radius: var(--spacing-00);
    --btn-inner-padding: var(--spacing-05);
    
    --generic-padding: var(--spacing-05);
    --alert-padding: var(--spacing-05);
    --tab-padding: var(--spacing-05);
    --btn-padding: var(--spacing-05);
    --form-padding: var(--spacing-05);
    
    --generic-padding: var(--spacing-00);
    --alert-padding: var(--spacing-00);
    --tab-padding: var(--spacing-00);
    --btn-padding: var(--spacing-00);
    --form-padding: var(--spacing-00);
}