:root{
    --corner-radius: 0px;
    --btn-inner-padding: 1rem;
}

/* FONDOS (EXPERIMENTAL) */

body{
    background-color: var(--background);
    color: var(--text-primary);
}

.bg-primary {
    background-color: rgba(var(--accent-60), 1) !important;
}

.bg-secondary {
    background-color: rgba(var(--gray-80), 1) !important;
}

.bg-success {
    background-color: rgba(var(--green-60), 1) !important;
}

.bg-light{
    background-color: rgba(var(--gray-10), 1) !important;
}

.bg-dark {
    background-color: rgba(var(--gray-100), 1) !important;
}


/* PRIMARY BUTTON */

.btn-primary {
    border-radius: var(--corner-radius);
    color: var(--text-on-color);
    background-color: var(--button-primary);
    border: none;
    padding: var(--btn-inner-padding);
}

.btn-primary:disabled {
    color: var(--text-on-color-disabled);
    background-color: var(--button-disabled);
    cursor: not-allowed;
    opacity: unset;
    /*pointer-events: unset;*/
}

.btn-primary:focus:enabled {
    outline-style: double;
    outline-width: 5px;
    outline-color: var(--focus);
    border: none;
    box-shadow: none;
}

.btn-primary:hover:enabled {
    transition: ease-in-out 0.2s;
    background-color: var(--button-primary-hover);
}

.btn-primary:active:enabled {
    transition: ease-in-out 0.2s;
    background-color: var(--button-primary-active);
}

.btn-primary i {
    min-width: 1rem;
}

.btn-primary span {
    padding-right: 2rem;
}

/* SECONDARY BUTTON */

.btn-secondary {
    border-radius: var(--corner-radius);
    color: var(--text-on-color);
    background-color: var(--button-secondary);
    border: none;
    padding: var(--btn-inner-padding);
}

.btn-secondary:disabled {
    color: var(--text-on-color-disabled);
    background-color: var(--button-disabled);
    cursor: not-allowed;
    opacity: unset;
    /*pointer-events: unset;*/
}

.btn-secondary:focus:enabled {
    outline-style: double;
    outline-width: 5px;
    outline-color: var(--focus);
    border: none;
    box-shadow: none;
}

.btn-secondary:hover:enabled {
    transition: ease-in-out 0.2s;
    background-color: var(--button-secondary-hover);
}

.btn-secondary:active:enabled {
    transition: ease-in-out 0.2s;
    background-color: var(--button-secondary-active);
}

.btn-secondary i {
    min-width: 1rem;
}

.btn-secondary span {
    padding-right: 2rem;
}

/* TERTIARY BUTTON */

.btn-outline-primary {
    border-radius: var(--corner-radius);
    color: var(--button-tertiary);
    background-color: transparent;
    border: none;
    outline-style: solid;
    outline-width: 1px;
    outline-color: var(--button-tertiary);
    padding: var(--btn-inner-padding);
}

.btn-outline-primary:disabled {
    color: var(--text-disabled);
    outline-color: var(--button-disabled);
    cursor: not-allowed;
    opacity: unset;
    /*pointer-events: unset;*/
}

.btn-outline-primary:hover:enabled {
    transition: ease-in-out 0.2s;
    color: var(--text-inverse);
    background-color: var(--button-tertiary-hover);
}

.btn-outline-primary:active:enabled {
    transition: ease-in-out 0.2s;
    color: var(--text-inverse);
    background-color: var(--button-tertiary-active);
}

.btn-outline-primary:focus:enabled {
    outline-style: double;
    outline-width: 5px;
    outline-color: var(--focus);
    border: none;
    box-shadow: none;
}

.btn-outline-primary i {
    min-width: 1rem;
}

.btn-outline-primary span {
    padding-right: 2rem;
}

/* GHOST BUTTON */

.btn-link {
    border-radius: var(--corner-radius);
    color: var(--link-primary);
    background-color: transparent;
    border: none;
    padding: var(--btn-inner-padding);
    text-decoration: none;
}

.btn-link:disabled {
    color: var(--text-disabled);
    cursor: not-allowed;
    opacity: unset;
    /*pointer-events: unset;*/
}

.btn-link:hover:enabled {
    transition: ease-in-out 0.2s;
    color: var(--link-primary-hover);
    background-color: var(--background-hover);
}

.btn-link:active:enabled {
    transition: ease-in-out 0.2s;
    background-color: var(--background-active);
}

.btn-link:focus:enabled {
    outline-style: solid;
    outline-width: 1px;
    outline-color: var(--focus);
    border: none;
    box-shadow: none;
}

.btn-link i {
    min-width: 1rem;
}

.btn-link span {
    padding-right: 0.5rem;
}

/* GHOST BUTTON - ICON ONLY */

.btn-light {
    border-radius: var(--corner-radius);
    color: var(--icon-primary);
    background-color: transparent;
    border: none;
    padding: var(--btn-inner-padding);
}

.btn-light i {
    min-width: 1rem;
}

.btn-light span {
    padding-right: 0.5rem;
}

.btn-light:disabled {
    color: var(--icon-disabled);
    background-color: transparent;
    cursor: not-allowed;
    opacity: unset;
    /*pointer-events: unset;*/
}

.btn-light:focus:enabled {
    color: var(--icon-primary);
	background-color: transparent;
    outline-style: solid;
    outline-width: 1px;
    outline-color: var(--focus);
	border: none;
    box-shadow: none;
}

.btn-light:hover:enabled {
    transition: ease-in-out 0.2s;
    color: var(--icon-primary);
    background-color: var(--background-hover);
}

.btn-light:active:enabled {
    transition: ease-in-out 0.2s;
    background-color: var(--background-active);
}

/* PRIMARY DANGER BUTTON */

.btn-danger {
    border-radius: var(--corner-radius);
    color: var(--text-on-color);
    background-color: var(--button-danger-primary);
    border: none;
    padding: var(--btn-inner-padding);
}

.btn-danger:disabled {
    color: var(--text-on-color-disabled);
    background-color: var(--button-disabled);
    cursor: not-allowed;
    opacity: unset;
    /*pointer-events: unset;*/
}

.btn-danger:focus:enabled {
    outline-style: double;
    outline-width: 5px;
    outline-color: var(--focus);
    border: none;
    box-shadow: none;
}

.btn-danger:hover:enabled {
    transition: ease-in-out 0.2s;
    background-color: var(--button-danger-hover);
}

.btn-danger:active:enabled {
    transition: ease-in-out 0.2s;
    background-color: var(--button-danger-active);
}

.btn-danger i {
    min-width: 1rem;
}

.btn-danger span {
    padding-right: 2rem;
}

/* TERTIARY DANGER BUTTON */

.btn-outline-danger {
    border-radius: var(--corner-radius);
    color: var(--button-danger-secondary);
    background-color: transparent;
    border: none;
    outline-style: solid;
    outline-width: 1px;
    outline-color: var(--button-danger-secondary);
    padding: var(--btn-inner-padding);
}

.btn-outline-danger:disabled {
    color: var(--text-disabled);
    outline-color: var(--button-disabled);
    cursor: not-allowed;
    opacity: unset;
    /*pointer-events: unset;*/
}

.btn-outline-danger:hover:enabled {
    transition: ease-in-out 0.2s;
    color: var(--text-on-color);
    background-color: var(--button-danger-hover);
}

.btn-outline-danger:active:enabled {
    transition: ease-in-out 0.2s;
    color: var(--text-on-color);
    background-color: var(--button-danger-active);
}

.btn-outline-danger:focus:enabled {
    outline-style: double;
    outline-width: 5px;
    outline-color: var(--focus);
    border: none;
    box-shadow: none;
}

.btn-outline-danger i {
    min-width: 1rem;
}

.btn-outline-danger span {
    padding-right: 2rem;
}

/*BOTON EXPERIMENTAL SUCCESS*/

.btn-success {
    border-radius: var(--corner-radius);
    color: white;
    background-color: rgba(var(--green-60), 1);
    border: none;
    padding: var(--btn-inner-padding);
}

.btn-success i {
    min-width: 1rem;
}

.btn-success span {
    padding-right: 2rem;
}

.btn-success:disabled {
    color: rgba(var(--gray-50), 1);
    background-color: rgba(var(--gray-30), 1);
    cursor: not-allowed;
    opacity: unset;
    /*pointer-events: unset;*/
}

.btn-success:hover:enabled {
    transition: ease-in-out 0.2s;
    background-color: rgba(var(--green-60), 0.9);
}

.btn-success:active:enabled {
    transition: ease-in-out 0.2s;
    background-color: rgba(var(--green-60), 0.8);
}

.btn-success:focus:enabled {
    outline-style: double;
    outline-width: 5px;
    outline-color: rgba(var(--green-60), 1);
}

/*BOTON EXPERIMENTAL TERCIARIO (OUTLINE-SUCCESS)*/

.btn-outline-success {
    border-radius: var(--corner-radius);
    color: rgba(var(--green-60),1);
    background-color: transparent;
    border: none;
    outline-style: solid;
    outline-width: 1px;
    outline-color: rgba(var(--green-60),1);
    padding: var(--btn-inner-padding);
}

.btn-outline-success i {
    min-width: 1rem;
}

.btn-outline-success span {
    padding-right: 2rem;
}

.btn-outline-success:disabled {
    color: rgba(var(--gray-100),0.25);
    outline-color: rgba(var(--gray-30),1);
    cursor: not-allowed;
    opacity: unset;
    /*pointer-events: unset;*/
}

.btn-outline-success:hover:enabled {
    transition: ease-in-out 0.2s;
    color: white;
    background-color: rgba(var(--green-60),1);
}

.btn-outline-success:active:enabled {
    transition: ease-in-out 0.2s;
    color: rgba(var(--accent-10),1);
    background-color: rgba(var(--green-60),0.9);
}

.btn-outline-success:focus:enabled {
    outline-style: double;
    outline-width: 5px;
    outline-color: rgba(var(--green-60),1);
}

/* TOPBAR BUTTON (EXPERIMENTAL) */

.btn-dark {
    border-radius: var(--corner-radius);
    color: rgba(var(--gray-10), 1);
    background-color: rgba(var(--gray-100), 1);
    border: none;
    padding: var(--btn-inner-padding);
}

.btn-dark i {
    min-width: 1rem;
}

.btn-dark span {
    padding-right: 2rem;
}

.btn-dark:disabled {
    color: rgba(var(--gray-70), 1);
    background-color: rgba(var(--gray-80), 1);
    cursor: not-allowed;
    opacity: unset;
    /*pointer-events: unset;*/
}

.btn-dark:hover:enabled {
    transition: ease-in-out 0.2s;
    background-color: rgba(var(--gray-90), 1);
}

.btn-dark:active:enabled {
    transition: ease-in-out 0.2s;
    background-color: rgba(var(--gray-80), 1);
}

.btn-dark:focus:enabled {
    outline-style: solid;
    outline-width: 1px;
    outline-color: rgba(var(--gray-10), 1);
	border: none;
    box-shadow: none;
}

/*FORMULARIOS*/

.form-control {
    border-radius: var(--corner-radius);
    padding: 0.5rem 1rem;
    border: none;
    border-bottom: 1px solid var(--border-strong-01);
    background-color: var(--field-01);
    color: var(--text-primary);
}

.form-control:disabled {
    border-color: transparent;
    background-color: var(--field-01);
    color: var(--text-disabled);
}

.form-control:disabled~.form-text {
    color: var(--text-disabled);
}

.form-control:focus:enabled {
    outline-style: solid;
    outline-width: 2px;
    outline-color: var(--focus);
    box-shadow: none;
    background-color: var(--field-01);
    color: var(--text-primary);
    border-color: transparent;
}

.form-control.is-invalid:enabled {
    outline-style: solid;
    outline-width: 2px;
    outline-color: var(--support-error);
    border-color: transparent;
}

.form-control.is-valid:enabled {
    outline-style: solid;
    outline-width: 2px;
    outline-color: var(--support-success);/*not included in carbon*/
    border-color: transparent;
}

.form-control.is-invalid:enabled~.form-text {
    display: none;
}

.form-control.is-valid:enabled~.form-text {
    display: none;
}

.form-control::placeholder {
    color: var(text-placeholder);
}

.form-label {
    color: var(--text-secondary);
}

.form-text {
    color: var(--text-secondary);/*not included in carbon*/
}

.form-control[type=file]:not(:disabled):not([readonly]) {
    color: var(--text-placeholder);/*not included in carbon*/
}

.form-control[type=file]:not(:disabled):not([readonly])::-webkit-file-upload-button {
    border-radius: var(--corner-radius);
    color: var(--text-on-color);
    background-color: var(--button-primary);
    border: none;
    padding: var(--btn-inner-padding);
    padding-right: 3rem;
}

.form-control[type=file]:not(:disabled):not([readonly]):hover::-webkit-file-upload-button {
    transition: ease-in-out 0.2s;
    background-color: var(--button-primary-hover);
}

.form-control[type=file]:not(:disabled):not([readonly]):active::-webkit-file-upload-button {
    transition: ease-in-out 0.2s;
    background-color: var(--button-primary-active);
}

.form-control[type=file]:disabled::-webkit-file-upload-button {
    color: var(--text-on-color-disabled);
    background-color: var(--button-disabled);
    cursor: not-allowed;
    opacity: unset;
    border: none;
    padding: var(--btn-inner-padding);
    padding-right: 3rem;
    /*pointer-events: unset;*/
}

.form-control[type=file][readonly] {
    color: var(--text-on-color-disabled);
    /*pointer-events: unset;*/
}

.form-control[type=file][readonly]::-webkit-file-upload-button {
    color: var(--text-primary);
    background-color: transparent;
    cursor: not-allowed;
    opacity: unset;
    border: none;
    padding: var(--btn-inner-padding);
    padding-right: 3rem;
    /*pointer-events: unset;*/
}

.form-control[type=file][readonly]:hover::-webkit-file-upload-button {
    transition: ease-in-out 0.2s;
    color: var(--text-primary);
    background-color: var(--background-hover);
}

.form-control[type=file][readonly]:active::-webkit-file-upload-button {
    transition: ease-in-out 0.2s;
    background-color: var(--background-active);
}

.form-control-color {
    padding: 0.25rem;
    width: 3rem;
    height: 3rem;
}

.form-control-color::-webkit-color-swatch {
    border-radius: var(--corner-radius);
}

.form-control-color:disabled::-webkit-color-swatch {
    color: var(--text-disabled);
}

.form-control-color:not(:disabled):not([readonly])::-moz-color-swatch {
        border-radius: var(--corner-radius);
}

.form-select {
    border-radius: var(--corner-radius);
    padding: 0.5rem 1rem;
    border: none;
    border-bottom: 1px solid var(--border-strong-01);
    background-color: var(--field-01);
    color: var(--text-primary);
}

.form-select:enabled {
    cursor: pointer;
}

.form-select:disabled {
    border-color: transparent;
    background-color: var(--field-01);
    color: var(--text-disabled);
}

.form-select:disabled~.form-text {
    color: var(--text-disabled);
}

.form-select:focus:enabled {
    outline-style: solid;
    outline-width: 2px;
    outline-color: var(--focus);
    box-shadow: none;
    background-color: var(--field-01);
    color: var(--text-primary);
    border-color: transparent;
}

.form-select.is-invalid:enabled {
    outline-style: solid;
    outline-width: 2px;
    outline-color: var(--support-error);
    border-color: transparent;
}

.form-select.is-valid:enabled {
    outline-style: solid;
    outline-width: 2px;
    outline-color: var(--support-success);
    border-color: transparent;
}

.form-select.is-invalid:enabled~.form-text {
    display: none;
}

.form-select.is-valid:enabled~.form-text {
    display: none;
}

.form-check-input:not(:disabled),
.form-check-input:not(:disabled)~.form-check-label {
    cursor: pointer;
    color: var(--text-primary);
}

.form-check-input:disabled~.form-check-label,
.form-check-input[disabled]~.form-check-label {
    opacity: unset;
    color: var(--text-disabled);
}

.form-check-input[type=checkbox] {
    border-radius: var(--corner-radius);
    border-color: var(--text-primary);
    background-color: transparent;
}

.form-check-input[type=checkbox]:checked {
    transition: ease-in-out 0.2s;
    background-color: var(--text-primary);
    background-image: var(--checkbox-svg-on);
}


.form-check-input[type=checkbox]:focus {
    outline-style: solid;
    outline-width: 2px;
    outline-color: var(--focus);
    box-shadow: none;
}

.form-check-input[type=checkbox]:disabled {
    color: var(--text-disabled);
    border-color: var(--text-disabled);
}

.form-check-input[type=radio] {
    border-color: var(--text-primary);
    background-color: transparent;
}

.form-check-input[type=radio]:checked {
    transition: ease-in-out 0.2s;
    /*background-color: var(--text-primary);*/
    background-image: var(--radio-svg-on);
}

.form-check-input[type=radio]:focus {
    outline-style: solid;
    outline-width: 2px;
    outline-color: var(--focus);
    box-shadow: none;
}

.form-check-input[type=radio]:disabled {
    color: var(--text-disabled);
    border-color: var(--text-disabled);
}

.form-switch .form-check-input[type=checkbox] {
    border-radius: 1rem;
    background-image: var(--switch-svg-off);
}

.form-switch .form-check-input[type=checkbox]:checked {
    background-image: var(--switch-svg-on);
}

/*MODALES*/

.modal-content {
    border-radius: var(--corner-radius);
    border: unset;
    background-color: var(--layer-01);
}
.modal-content .form-control, .modal-content .form-select {
    background-color: var(--layer-02);
}

.modal-content .form-control:focus:enabled, .modal-content .form-select:focus:enabled {
    background-color: var(--layer-02);
}

.modal-header {
    border-bottom: none;
    padding-bottom: 0;
}

.modal-title {
    color: var(--text-secondary);
}

.modal-body {
    padding-top: 0;
}

.modal-footer{
    border-top: none;
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 0;
}

.modal-footer .btn{
    padding-bottom: calc(var(--btn-inner-padding) * 2);
}

/* OVERFLOW MENU (DROPDOWN MENU) */

.dropdown-menu {
    --bs-dropdown-color: var(--text-secondary);
    --bs-dropdown-bg: var(--layer-01);

    --bs-dropdown-link-color: var(--text-secondary);
    --bs-dropdown-link-hover-color: var(--text-primary);
    --bs-dropdown-link-hover-bg: var(--layer-hover-01);
    --bs-dropdown-link-active-color: var(--text-primary);
    --bs-dropdown-link-active-bg: var(--layer-active-01);
    --bs-dropdown-link-disabled-color: var(--text-disabled);
    
    color: var(--text-secondary);
    background-color: var(--layer-01);
    border-radius: var(--corner-radius);
}

.dropdown-menu .dropdown-item{
    color: var(--text-secondary);
    cursor: pointer;
}

.dropdown-menu .dropdown-item:focus{
    outline-style: solid;
    outline-width: 1px;
    outline-color: var(--focus);

    color: var(--text-primary);
    background-color: var(--layer-hover-01);
}

.dropdown-menu .dropdown-item:hover {
    color: var(--text-primary);
    background-color: var(--layer-hover-01);
}

.dropdown-menu .dropdown-item:active {
    color: var(--text-primary);
    background-color: var(--layer-hover-01);
}

/*TABLA POR DEFECTO HTML*/

table thead {
    background-color: var(--layer-accent-01);
    border-color: var(--border-subtle-01);
    color: var(--text-primary);
}

tbody tr {
    
    border-color: var(--border-subtle-01);
    color: var(--text-secondary);
}

tbody tr:hover {
    transition: ease-in-out 0.2s;
    background-color: var(--layer-hover-01);
    color: var(--text-primary);
}

tbody tr:focus {
    outline-style: solid;
    outline-width: 1px;
    outline-color: var(--focus);
}

/*TABLA EXTERIOR*/

.table-top{
    padding: 1rem;
    padding-bottom: 1.5rem;
}

.table-top h3{
    color: var(--text-primary);
}

.table-top span{
    color: var(--text-secondary);
}

/*BARRA DE BUSQUEDA*/

.search-bar {
    flex-grow: 1;
}

.search-bar:focus-within {
    outline-style: solid;
    outline-width: 1px;
    outline-color: var(--focus);
  }

.search-bar .btn-light + input[type=text] {
    width: 0px;
    border: none;
}

.search-bar .btn-light + input[type=text]:focus,
.search-bar .btn-light:focus {
    outline: none;
}

.search-bar:not(:focus-within) .btn-light + input[type=text] {
    padding-left: 0px;
    padding-right: 0px;
}

.search-bar:focus-within .btn-light + input[type=text] {
    transition: ease-in-out 0.2s;
    width: 100%;
    box-sizing: border-box;
}

.search-bar .btn-light:hover + input[type=text] {
    transition: ease-in-out 0.2s;
    color: var(--text-primary);
    background-color: var(--background-hover);
}

.search-bar ~ .dropdown .dropdown-toggle::after {
    display: none;
}

/*BARRA DE BUSQUEDA SUPERIOR (EXPERIMENTAL)*/

.top-search-bar {
    flex-grow: 1;
}

.top-search-bar:focus-within {
    outline-style: solid;
    outline-width: 1px;
    outline-color: rgba(var(--gray-10), 1);
  }

.top-search-bar .btn-dark + input[type=text] {
    width: 0px;
    border: none;
    color: rgba(var(--gray-30), 1);
}

.top-search-bar .btn-dark + input[type=text]:focus,
.top-search-bar .btn-dark:focus {
    outline: none;
}

.top-search-bar:not(:focus-within) .btn-dark + input[type=text] {
    padding-left: 0px;
    padding-right: 0px;
}

.top-search-bar:focus-within .btn-dark + input[type=text] {
    transition: ease-in-out 0.2s;
    width: 100%;
    box-sizing: border-box;
    background-color: rgba(var(--gray-90), 1);
}

.top-search-bar .btn-dark:hover + input[type=text] {
    transition: ease-in-out 0.2s;
    color: rgba(var(--gray-10), 1);
}

.top-search-bar ~ .dropdown .dropdown-toggle::after {
    display: none;
}

/* --- KENDO --- */

/*GRID*/

.k-grid {
    font-size: 16px;
}

.k-widget {
    box-shadow: none;
}

.k-editor, .k-grid, .k-menu, .k-scheduler {
    border-radius: var(--corner-radius);
}

.k-grid-header:first-child, .k-grid>.k-grouping-header {
    border-radius: var(--corner-radius);
}

.k-grid-header {
    background-color: var(--layer-accent-01);
}

.k-filter-row th, .k-grid-header th.k-header {
    border-style: solid;
    border-width: 1px;
    border-top-color: transparent;
    border-right-color: transparent;
    border-bottom-color: var(--border-subtle-01);/*quizas border-subtle-selected-01*/
    border-left-color: transparent;
    padding: var(--btn-inner-padding);
    font-weight: bold;
    background-color: var(--layer-accent-01);
}

.k-cell-inner>.k-link{
    padding: 0px;
}

.k-header>.k-cell-inner {
    margin: 0px;
}

.k-grid {
    border-color: transparent;
    color: var(--text-primary);
    background-color: var(--layer-01);
    padding: 0px;
}

.k-filter-row>td, 
.k-filter-row>th, .k-grid td, 
.k-grid-content-locked, .k-grid-footer, 
.k-grid-footer-locked, .k-grid-footer-wrap, 
.k-grid-header, .k-grid-header-locked, 
.k-grid-header-wrap, .k-grouping-header, 
.k-grouping-header .k-group-indicator, 
.k-header, th.k-header {
     border-color: transparent;
}

thead.k-grid-header th.k-header:last-child, thead.k-grid-header th.k-header:first-child {
    border: 0px;
    border-radius: 0px;
}

.k-grid tr td {
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 1px solid;
    border-bottom-color: var(--border-subtle-01);/*quizas border-subtle-selected-01*/
}

.k-grid td{
    padding: var(--btn-inner-padding);
}

.k-grid tr.k-alt, .k-grid tr {
    background-color: var(--layer-01);
}

.k-grid td.k-state-selected, .k-grid tr.k-state-selected>td {
    background-color: var(--layer-selected-01);
    color: var(--text-secondary);
}
.k-grid td.k-state-selected:hover, .k-grid tr.k-state-selected:hover td {
    background-color: var(--layer-selected-hover-01);
    color: var(--text-primary);
}

.k-grid-header .k-i-sort-asc-sm, .k-grid-header .k-i-sort-desc-sm, .k-grid-header .k-sort-order {
    color: var(--text-primary);
}

.k-pager-first, .k-pager-last{
    display: none;
}

.k-pager-sizes{
    order: 0;
}

.k-pager-wrap.k-grid-pager{
    display: flex;
}

.k-pager-wrap.k-grid-pager a[title*="next"] {
 order: 20;
}

.k-pager-wrap.k-grid-pager a[title*="previous"] {
    order: 19;
}

.k-pager-wrap.k-grid-pager .k-pager-input {
    order: 18;
    border-left: var(--border-subtle-01) solid 1px;
    padding: calc(var(--btn-inner-padding) *0.73) var(--btn-inner-padding);
}

.k-pager-wrap.k-grid-pager .k-pager-info {
    order: 17;
    flex-direction: row-reverse;
    padding: 1rem;
    margin-left: 0px;
    margin-right: 0px;
    border-left: var(--border-subtle-01) solid 1px;
}

.k-pager-wrap.k-grid-pager .k-pager-sizes {
    order: 16;
    flex-direction: row-reverse;
}

.k-pager-wrap {
    background-color: var(--layer-01);
    padding: 0px;
    color: var(--text-secondary);
}

.k-pager-nav {
    border-radius: 0px;
    padding: calc(var(--btn-inner-padding) *1.68) var(--btn-inner-padding);
    border-left: var(--border-subtle-01) solid 1px;
}

.k-pager-wrap .k-link {
    border-color: var(--border-subtle-01);
}

.k-button {
    border: none;
    background-color: var(--layer-01);
}

/*.k-button:hover {
    background-color: #ebebeb;
}*/

.k-select .k-i-arrow-s::before {
    font-family: bootstrap-icons !important;
    content: "\f282";
}

.k-input-inner {
    display: flex;
    align-items: center;
    margin-left: 1rem;
    /*margin-right: 1rem;*/
}

.k-pager-wrap .k-textbox {
    border-color: var(--border-subtle-01);
    border-top:none;
    border-right: none;
    border-left: none;
}

.k-picker.k-dropdown.k-widget.k-picker-solid.k-picker-md.k-rounded-md, .k-button{
    border-radius: var(--corner-radius);
    color: var(--text-secondary);
}

.k-picker.k-dropdown.k-widget.k-picker-solid.k-picker-md.k-rounded-md:focus-within{
    outline-style: solid;
    outline-width: 1px;
    outline-color: var(--focus);
}

.k-picker.k-dropdown.k-widget.k-picker-solid.k-picker-md.k-rounded-md:hover/*,
.k-picker.k-dropdown.k-widget.k-picker-solid.k-picker-md.k-rounded-md:hover .k-button*/{
    transition: ease-in-out 0.2s;
    color: var(--text-primary);
    background-color: var(--layer-hover-01);
}

.k-picker.k-dropdown.k-widget.k-picker-solid.k-picker-md.k-rounded-md:hover .k-button{
    transition: ease-in-out 0.2s;
    color: var(--text-primary);
    background-color: transparent;
}

.k-pager-nav.k-link:hover,
.k-pager-nav.k-link:hover .k-button,
.k-pager-refresh:hover,
.k-pager-refresh:hover .k-button {
    transition: ease-in-out 0.2s;
    color: var(--text-primary);
    background-color: var(--background-hover);
}

.k-pager-nav.k-link:focus {
    box-shadow: none;
    outline-style: solid;
    outline-width: 1px;
    outline-color: var(--focus);
}

.k-grid tbody tr.k-state-hover, .k-grid tbody tr:hover {
    background-color: var(--layer-hover-01);
}

.k-drag-clue, .k-grid-header .k-header>.k-link, .k-header, .k-menu, .k-tabstrip, .k-treemap-title {
    color: var(--text-primary);
}

.k-input, .k-multiselect-wrap, .k-textbox, .k-textbox>input {
    background-color: var(--layer-02);
    color: var(--text-secondary);
}

.k-popup {
    /*border-color: rgba(0,0,0,.08);*/
    color: var(--text-secondary);
    background-color: var(--layer-01);
}

/* SITEFINITY */

.top-table{
    background-color: var(--layer-01);
}

#toolbar-batch .btn-primary span {
    padding-right: 1rem;
}

#toolbar-batch span.me-auto {
    padding-left: 1rem;
}